# Python
__pycache__/
*.py[cod]
*$py.class

# Large Files & Datasets
# densenet.onnx  <-- Un-commented this to allow the model to be pushed (it is < 100MB)
Brain-Tumor-Classification-DataSet-master/

# Secrets
header.py
